@page
@using TasteRazor.Utility

@if (User.IsInRole(Constants.ManagerRole))
{
  <div class="border backgroundWhite container">
    <div class="row">
      <div class="col-6">
        <h2 class="text-primary">Menu</h2>
      </div>
      <div class="col-6 text-right">
        <a class="btn btn-primary text-white" asp-page="Upsert">
          <i class="fas fa-plus"></i>&nbsp;Create New
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
          <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Food Type</th>
            <th></th>
          </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
}
else
{
  <div>
    <h1 class="text-danger">Access Denied</h1>
  </div>
}


@section Scripts {
  <script src="~/js/menuItem.js"></script>
}
